.git
.github
.idea
.nova
.vscode
.zed
.fleet

.env
.env.*
!.env.example
!.env.docker.example
!.env.staging.example
auth.json

.tools
node_modules
vendor

frontend/.nuxt
frontend/.output
frontend/node_modules

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
storage/*.key

public/build
public/hot
public/storage

.phpunit.result.cache
.phpunit.cache
*.log
Thumbs.db
.DS_Store
